/*
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Handlee', cursive;
*/

body {
  
}

.jumbotron {
  width: 75%;
  height: 80%;
  margin: 20px auto 20px auto;
  opacity: .9;
  background: url("../images/books-background.png");
  color: rgb(161, 17, 53);
  text-align: center;
  box-shadow: 3px 3px 6px black, 0 0 20px rgb(42, 42, 156), 0 0 14px darkblue;
}

.display-4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 58px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(57, 23, 134), 0 0 5px rgb(56, 6, 114);
  font-weight: 900;
}

.lead {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  text-shadow: 1px 1px 1px black, 0 0 25px rgb(57, 23, 134), 0 0 5px darkblue;
  font-weight: 900;
}

#button-container {
  font-family: 'Handlee', cursive;
}

.container {
  font-family: 'Handlee', cursive;
  font-size: 22px;
  color: rgb(10, 10, 90);
  font-weight: bold;
  text-align: center;
}

p {
  font-family: 'Courgette', cursive;
  font-size: 16px;
  color: rgb(6, 6, 70);
}